<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>  

<body>
	<!-- Header -->
<%- include('./partials/header') %>  
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/profile" method="get">
				<div>
					<label for="email"> Email </label>
					<input type="text" name="username" required>
				</div>
				<div>
					<label for= "password"> Contraseña </label>
					<input type="password" name="password" required>
				</div>
				<div>
					<input type="checkbox" name="remember">
					<label for="remember"> Recordarme </label>
				</div>
				<button type="submit"> Login </button>
			</form>


	<!-- footer -->
<%- include('./partials/footer') %>  
	<!-- /footer -->
</body>

</html>