<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
<%- include('./partials/head') %>  
</head>

<body>
	<!-- Header -->
    <%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product-add" method="get"> 
				<div>
					<label for="image"> Imagen del Producto </label>
					<input type="file" name="image" required>
				</div>
				<div> 
					<label for="product-name"> Nombre del Producto </label>	
					<input type="text" name="product-name" required>
				</div>
				<div>
					<label for="description"> Descripción </label>
					<input type="text" name="descripcion" required>
				</div>
				<button type="submit"> Agregar Producto </button>
			</form>
			

	<!-- footer -->
<%- include('./partials/footer') %>  
	<!-- /footer -->
</body>

</html>