<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLougeado.ejs') %>
	
	<% } else{ %>
	
		<%- include('./partials/header.ejs') %>
		
	<%}%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
	
			<!-- Show the "ultimos" products -->
			<form action="/usuario/profile" method="post"> 
				<div>
					<label class="formli" for="image"> Imagen del Producto </label>
					<br>
					<input type="file" name="image" required>
				</div>
				<div> 
					<label class="formli" for="product-name"> Nombre del Producto </label>	
					<br>
					<input type="text" name="productname" required>
				</div>
				<div>
					<label class="formli" for="description"> Descripción </label>
					<br>
					<input type="text" name="descripcion" required>
				</div>
				<br>
				<button class="formboton" type="submit"> Agregar Producto </button>
			</form>


	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>