<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>				
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/profile" method="get">
				<div>
					<label for="email">Email:</label>
					<br>
					<input type="email" name="email">
				</div>
				<div>
					<label for="usuario">Usuario:</label>
					<br>
					<input type="text" name="usuario">
				</div>
				<div>
					<label for="contrasena">Contraseña:</label>
					<br>
					<input type="password" name="contrasena">
				</div>
				<div>
					<label for="fechadenacimiento">Fecga de nacimiento:</label>
					<br>
					<input type="date" name="fechadenacimiento">
				</div>
				<div>
					<label for="numerodedocumento">Numero de documento:</label>
					<br>
					<input type="number" name="numerodedocumento">
				</div>
				<div>
					<label for="fotodeperfil">Foto de perfil:</label>
					<br>
					<input type="text" name="fotodeperfil">
				</div>
				<br>
				<button type="submit"> registrarte </button>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>