<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->	
	<% if (locals.user!=undefined) {%>

		<%- include('./partials/headerLougeado.ejs') %>
	
	<% } else{ %>
	
		<%- include('./partials/header.ejs') %>
		
	<%}%>			
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/usuario/register" method="POST">
				<div>
					<label class="formli" for="email">Email:</label>
					<br>
					<input class="formli" type="email" name="email">
				</div>
				<div>
					<label class="formli" for="usuario">Usuario:</label>
					<br>
					<input class="formli" type="text" name="nombreUsuario">
				</div>
				<div>
					<label class="formli" for="contrasena">Contraseña:</label>
					<br>
					<input  class="formli" type="password" name="password">
				</div>
				<div>
					<label class="formli" for="fechadenacimiento">Fecha de nacimiento:</label>
					<br>
					<input class="formli" type="date" name="fechaDeNacimiento">
				</div>
				<div>
					<label class="formli" for="numerodedocumento">Numero de documento:</label>
					<br>
					<input type="number" name="dni">
				</div>
				<div>
					<label class="formli" for="fotodeperfil">Foto de perfil:</label>
					<br>
					<input type="text" name="fotoDePerfil">
				</div>
				<br>
				<button class="formboton" type="submit"> Registrarse </button>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>